@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    padding: 20px;

    @media (max-width: 500px) {
        padding: 5px;        
    }
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f0f4f8;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #6d6c70, #6d6c70);
    border-radius: 120px;
    border: 2px solid #f0f4f8;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #3e3e41, #3e3e41);
}

* {
    scrollbar-width: thin;
    scrollbar-color: #3e3e41 #f0f4f8;
}