.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

    @media (max-width: 1120px) {
        h1 {
            display: none;
        }
    }

    @media (max-width: 780px) {
        flex-direction: column;
        gap: 20px;
    }
}

.logo {
    height: 30px;
    cursor: pointer;

    img {
        height: 100%;
        object-fit: contain;
    }
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.right {
    display: flex;
    gap: 16px;
    align-items: center;

    @media (max-width: 500px) {
        width: 100%;
    }
}