.routeResults {
  margin-bottom: 16px;
}

.summary {
  width: 100%;
  background: white;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e5e7eb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  transition: 0.3s ease-in-out;

  &:hover {
    background: #f9fafb;
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 500;
}

.results {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.routeCard {
  background: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border: 1px solid #e5e7eb;
}

.routeTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

.routeDetails {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mode {
  display: flex;
  align-items: center;
  background: #f3f4f6;
  padding: 12px;
  border-radius: 8px;
  transition: 0.3s ease-in-out;

  span {
    color: #2563eb;
    margin-right: 12px;
  }

  &:hover {
    background: #e5e7eb;
  }
}

.modeInfo {
  font-size: 14px;
}

.modeType {
  font-weight: 600;

  @media (max-width: 650px) {
    display: none;
  }
}

.modeDuration {
  color: #6b7280;
  white-space: nowrap;

  @media (max-width: 650px) {
    span {
      display: none;
    }
  }
}

.symbol {
  display: flex;
  align-items: center;
  margin-right: 20px;

  @media (max-width: 650px) {
    flex-direction: column;
  }
}